.green { background-color: #242424; }
.grey { background-color: #efefef; }
.dark-grey { background-color: #dddddd; }
.off-white { background-color: #f1f1f1; }
.off-white h2 { color: #242424; }
.white { background-color: #fff; }
.super-admin { background-color: #ff0000; }
.admin { background-color: #00ff00; }
.coloured-text { color: #fff; }